.container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  width: 322px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  &:hover {
    background-color: rgba(165, 42, 42, 0.1);
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  span {
    font-size: 22px;
  }
  .bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.wrapper {
  position: relative;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  background-color: brown;
  width: 100%;
  left: 0;
  height: 40px;
  color: white;
  border-radius: 0 0 8px 8px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgb(170, 69, 69);
  }
}
